name: "{{ .ActionName }}"
on:
{{- if ne .ActionTriggers.Push "" }}
  push:
    branches:
      - "{{ .ActionTriggers.Push }}"
{{- end }}
{{- if .ActionTriggers.ManualDispatch }}
  workflow_dispatch:
{{- end }}
{{- if ne .ActionTriggers.Schedule "" }}
  schedule:
    - cron: "{{ .ActionTriggers.Schedule }}"
{{- end }}
{{- if ne .ActionTriggers.PullRequest "" }}
  pull_request:
    branches:
      - "{{ .ActionTriggers.PullRequest }}"
{{- end }}
env:
{{- if .Rust }}
  RUST_VERSION: "{{ .Tools.Rust }}"
{{- end }}
{{- if .RustTarget }}
  RUST_TARGET: "{{ .Tools.RustTarget }}"
{{- end }}
{{- if .Go }}
  GO_VERSION: "{{ .Tools.Go}}"
{{- end }}
{{- if .JavaScript }}
  NODE_VERSION: "{{ .Tools.Node }}"
{{- end }}
{{- if .Python }}
  PYTHON_VERSION: "{{ .Tools.Python}}"
{{- end }}
{{- if ne .Tools.Spin "" }}
  SPIN_VERSION: "{{ .Tools.Spin }}"
{{- end }}
  {{- range .EnvironmentVariables }}
  {{ .Key }}: "{{ .Value }}"
  {{- end }}
jobs:
  spin:
    runs-on: "{{ .OperatingSystem }}"
    name: Build Spin App
    permissions:
      contents: read
{{- if .PushOciArtifacts }}
      packages: write
      id-token: write
{{- end }}
    steps:
      - uses: actions/checkout@v4
{{- if .PushOciArtifacts }}
      - name: Install Cosign
        uses: sigstore/cosign-installer@v3
      - name: Install trivy
        uses: aquasecurity/setup-trivy@e07451d2e059ed86c2870430ea286b3a9e0bf241
      - name: Install ORAS
        uses: oras-project/setup-oras@v1
{{- end }}
{{- if .Go }}
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "{{ `${{ env.GO_VERSION }}` }}"
{{- end }}
{{- if .Rust }}
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: "{{ `${{ env.RUST_VERSION }}` }}"
          targets: "{{ `${{ env.RUST_TARGET }}` }}"
{{- end }}
{{- if .JavaScript }}
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "{{ `${{ env.NODE_VERSION }}` }}"
{{- end }}
{{- if .Python }}
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "{{ `${{ env.PYTHON_VERSION }}` }}"
{{- end }}
      - name: Install Spin
        uses: fermyon/actions/spin/setup@v1
        with:
          github_token: {{ `${{ secrets.GITHUB_TOKEN }}` }}
{{- if ne .Tools.Spin "" }}
          version: "{{ `${{ env.SPIN_VERSION }}` }}"
{{- end }}
{{- if ne .SpinPlugins "" }}
          plugins: {{ .SpinPlugins }}
{{- end }}
{{- range .SpinApps }}
  {{- if ne .Setup "" }}
      - name: Executing Setup Commands for {{ .Name }}
        run: {{ .Setup }}
        working-directory: {{ .Path }}
  {{- end }}
  {{- range .Components }}
    {{- if ne .InstallDependenciesCommand "" }}
      - name: Component Dependency Installation
        run: {{ .InstallDependenciesCommand }}
        working-directory: {{ .Path }}
    {{- end }}
  {{- end }}
      - name: Build {{ .Name }}
        run: spin build
        working-directory: {{ .Path }}
  {{- if ne .Teardown "" }}
      - name: Executing Teardown Commands for {{ .Name }}
        run: {{ .Teardown }}
        working-directory: {{ .Path }}
  {{- end }}
{{- end}}
{{- if .PushOciArtifacts }}
    {{- range .SpinApps }}
      - name: Generate SBOM for {{ .Name }}
        working-directory: {{ .Path }}
        run: |
          trivy fs --format spdx-json -o sbom.spdx.json .
      - name: Scan {{ .Name }} SBOM for Critical Vulnerabilities
        working-directory: {{ .Path }}
        run: |
          trivy sbom --exit-code 1 --severity HIGH,CRITICAL sbom.spdx.json
    {{- if ne .OciLoginServer "" }}
      - name: Authenticate against OCI registry for {{ .Name }}
      {{- if .OciUseGitHubToken }}
        run: |
          spin registry login -u {{ `${{ github.actor }}` }} -p {{ `${{ secrets.GITHUB_TOKEN }}` }} {{ .OciLoginServer }}
          docker login -u {{ `${{ github.actor }}` }} -p {{ `${{ secrets.GITHUB_TOKEN }}` }} {{ .OciLoginServer }}
      {{- else }}
        {{- $oci_login_password_secret_name := print "OCI_REGISTRY_PASSWORD_" .VarSafeAppName }}
        run: |
          spin registry login -u {{ .OciUser }} -p {{ print `${{ secrets.` $oci_login_password_secret_name ` }}` }} {{ .OciLoginServer }}
          docker login -u {{ .OciUser }} -p {{ print `${{ secrets.` $oci_login_password_secret_name ` }}` }} {{ .OciLoginServer }}
      {{- end }}
    {{- end }}
      - name: Push OCI Artifact for {{ .Name }}
        working-directory: {{ .Path }}
        run: |
        {{- range .OciReferences }}
          spin registry push {{ . }}
        {{- end }}
      - name: Sign OCI Artifact for {{ .Name }}
        working-directory: {{ .Path }}
        run: |
        {{- range .OciReferences }}
          cosign sign --yes {{ . }}
        {{- end }}
      - name: Attach {{ .Name }} SBOM via ORAS
        working-directory: {{ .Path }}
        run: |
        {{- range .OciReferences }}
          oras attach --artifact-type application/spdx+json {{ . }} sbom.spdx.json
        {{- end }}
    {{- end }}
{{- end}}
{{- if .DeployToAkamaiFunctions }}
      - name: Install the aka Plugin for Spin
        run: spin plugins update && spin plugins install aka --yes
      - name: Login to Akamai Functions
        run: spin aka login --token {{ `${{ secrets.AKAMAI_FUNCTIONS_TOKEN }}` }}
    {{- range .SpinApps }}
      - name: Check if recurring App Deployment ({{ .DeploymentName }})
        id: check-for-existing-app-{{ .VarSafeAppName }}
        run: |
          if spin aka apps list --account-id {{ `${{ secrets.AKAMAI_FUNCTIONS_ACCOUNT_ID }}` }} | grep -xF "{{ .DeploymentName }}" > /dev/null; then
            echo "exists=true" >> $GITHUB_OUTPUT
            echo "App {{ .DeploymentName }} found."
          else
            echo "exists=false" >> $GITHUB_OUTPUT
            echo "App {{ .DeploymentName }} not found."
          fi
      - name: Link to existing ({{ .DeploymentName }}) App Deployment
        if: steps.check-for-existing-app-{{ .VarSafeAppName }}.outputs.exists == 'true'
        working-directory: {{ .Path }}
        run: spin aka app link --app-name {{ .DeploymentName }} --account-id {{ `${{ secrets.AKAMAI_FUNCTIONS_ACCOUNT_ID }}` }}
      - name: Deploying {{ .DeploymentName }} to Akamai Functions
        if: steps.check-for-existing-app-{{ .VarSafeAppName }}.outputs.exists == 'false'
        working-directory: {{ .Path }}
        run: spin aka deploy --account-id {{ `${{ secrets.AKAMAI_FUNCTIONS_ACCOUNT_ID }}` }} --create-name {{ .DeploymentName }} --no-confirm --skip-readiness-check
      - name: ReDeploying {{ .DeploymentName }} to Akamai Functions
        if: steps.check-for-existing-app-{{ .VarSafeAppName }}.outputs.exists == 'true'
        working-directory: {{ .Path }}
        run: spin aka deploy --account-id {{ `${{ secrets.AKAMAI_FUNCTIONS_ACCOUNT_ID }}` }} --no-confirm --skip-readiness-check
    {{- end }}
{{- end}}
